{% extends 'recommend/base.html'%}
{% block title %}Recommendations{% endblock %}
{% block body %}

<div class="container-fluid">
	<h2 class='tle'>Recommendations for you</h2>
</div>
<br>

<div class="container-fluid">
    <!-- Movie list -->
    <div class="row">
        {% if movie_list %}
            {% for movie in movie_list %}
                <div class="col-sm-2 col-md-2 ">
                    <div class="movieThumbnail">
                        <center><h4>{{movie.title}}</h4></center>
                        <a href="{% url 'detail' movie.id %}">
                            <div style="text-align: center;"><img src="{{ movie.movie_logo.url}}" class="img-responsive"></div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}